:root {
    --main-color: rgba(19, 19, 19, 255);
    --accent-color: rgba(37, 37, 37, 255);
    --font-color: rgba(229, 227, 232, 255);
    --standard-font: 1.3rem;
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
}

html {
    background-color: var(--main-color);
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

input {
    outline: none;
    border: none;
}

@media (min-width: 768px) {
    aside {
        position: fixed;
        left: 0;
        top: 0;
        width: 25%;
        height: 100vh;
    }

    main {
        position: fixed;
        left: 25%;
        height: 100vh;
        width: 70%;
    }
    .todo-item {
        left: 5%;
    }

    h1 {
        position: relative;
        left: 10%;
    }
}

aside {
    background-color: var(--accent-color);
    border-radius: 15px;
}
.list-item {
    display: flex;
    align-items: center;
    background-color: beige;
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    position: relative;
    left: 5%;
    font-size: var(--standard-font);
}
.list-text {
    background-color: beige;
    margin-left: 1%;
    width: 90%;
    font-size: var(--standard-font);
}

main {
    margin-top: 2rem;
    background-color: var(--main-color);
}
.todo-item {
    display: flex;
    align-items: center;
    gap: 0.5%;
    position: relative;
    background-color: var(--accent-color);
    border-radius: 15px;
    height: 5vh;
}
.todo-text {
    width: 90%;
    background-color: var(--accent-color);
    color: var(--font-color);
    font-size: var(--standard-font);
}
.checkbox {
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 1%;
}
/* Over 92% support, so still a little iffy */
.checkbox:has(input:checked) {
    background-color: white;
}

input[type="checkbox"] {
    display: none;
}
