:root {
    --main-color: rgba(19, 19, 19, 255);
    --accent-color: rgba(37, 37, 37, 255);
    --font-color: rgba(229, 227, 232, 255);
    --standard-buffer: 2%;
    --standard-font: 1.3rem;
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
    /* Prevent zoom on mobile devices, as double clicking a button will zoom without it*/
    touch-action: pan-x pan-y;
    height: 100%;
}

html {
    background-color: var(--main-color);
}

h1 {
    text-align: center;
    max-width: 90%;
    margin-left: var(--standard-buffer);
    padding-left: var(--standard-buffer);
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    height: 1rem;
}

input {
    outline: none;
    border: none;
}

aside {
    background-color: var(--accent-color);
    border-radius: 15px;
    width: 95%;
    margin-left: var(--standard-buffer);
    padding-bottom: var(--standard-buffer);
}
.list-item {
    display: flex;
    align-items: center;
    background-color: beige;
    border-radius: 15px;
    width: 90%;
    height: 30px;
    position: relative;
    left: 5%;
    font-size: var(--standard-font);
    margin-top: 1%;
    margin-bottom: 2%;
}
.list-select {
    accent-color: var(--accent-color);
    transform: scale(1.2);
    margin-bottom: 1%;
}
.list-text {
    background-color: beige;
    margin-left: 4%;
    margin-top: var(--standard-buffer);
    margin-bottom: var(--standard-buffer);
    width: 90%;
    font-size: var(--standard-font);
}
.list-delete {
    margin-right: 1%;
    background-color: var(--accent-color);
    color: var(--font-color);
    border-radius: 10px;
    font-size: 1rem;
}
main {
    margin-top: 2rem;
    margin-left: var(--standard-buffer);
    background-color: var(--main-color);
    width: 95%;
}
.task-control {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.new-button {
    background-color: var(--accent-color);
    color: var(--font-color);
    border-radius: 5px;
    width: 10rem;
    padding: 0.2%;
    font-size: var(--standard-font);
}
#sort-by-label {
    font-size: var(--standard-font);
}
#sort-by {
    color: var(--font-color);
    background-color: var(--accent-color);
    font-size: var(--standard-font);
    border-color: var(--accent-color);
}
.todo-item {
    display: flex;
    flex-direction: column;
    gap: 0.5%;
    position: relative;
    background-color: var(--accent-color);
    border-radius: 15px;
    margin-bottom: 1%;
    margin-top: 1%;
}
.todo-top-row {
    display: flex;
    align-items: center;
    margin-top: 1%;
}
.todo-text {
    flex: 1;
    margin-left: 1%;
    margin-right: 1%;
    background-color: var(--accent-color);
    color: var(--font-color);
    font-size: var(--standard-font);
}
.todo-delete {
    flex: 0 0 auto;
    margin-right: 1%;
    background-color: var(--accent-color);
    color: var(--font-color);
    border-radius: 10px;
    margin-bottom: 1%;
}
.checkbox {
    flex: 0 0 auto;
    margin-left: 1%;
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 20px;
}

.todo-item:has(.todo-text:placeholder-shown) .checkbox {
    display: none;
}
.todo-item:has(.todo-text:placeholder-shown) input[type="date"] {
    display: none;
}
.todo-item:has(.todo-text:placeholder-shown) .todo-text {
    margin-bottom: 1%;
}
.todo-item:has(.todo-text:not(:placeholder-shown)) .todo-delete {
    margin-bottom: 0%;
    margin-top: 0.5%;
}
/* Over 92% support, so still a little iffy */
.checkbox:has(input:checked) {
    background-color: white;
}
.checkbox:has(input:checked) + .todo-text:not(:placeholder-shown) {
    text-decoration: line-through;
}

input[type="date"] {
    color: var(--font-color);
    background-color: rgba(60, 60, 60, 1);
    font-size: var(--standard-font);
    width: 15%;
    min-width: 150px;
    margin: 1%;
    padding: 0.5%;
    border-radius: 15px;
}

input[type="checkbox"] {
    display: none;
}

@media (min-width: 768px) {
    aside {
        position: fixed;
        left: 0;
        top: 0;
        width: 24%;
        height: 100vh;
        margin-left: 0%;
    }

    main {
        position: fixed;
        left: 25%;
        height: 100vh;
        width: 70%;
        margin-left: 0%;
    }
    .todo-item {
        left: 5%;
        width: 85%;
    }
    .todo-delete {
        font-size: var(--standard-font);
    }

    h1 {
        position: relative;
        padding-left: 5%;
        margin-left: 0%;
        margin-top: 0%;
    }
}
