:root {
    --main-color: rgba(19, 19, 19, 255);
    --accent-color: rgba(37, 37, 37, 255);
    --font-color: rgba(229, 227, 232, 255);
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
}

html {
    background-color: var(--main-color);
}

.todo-item {
    position: relative;
    left: 5%;
}

.todo-text {
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: var(--font-color);
    font-size: 1.3rem;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

main {
    position: fixed;
    left: 20%;
    height: 100vh;
    width: 70%;
    background-color: var(--main-color);
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--accent-color);
}

input[type="checkbox"] {
    height: 2rem;
    width: 2rem;
    clip-path: circle(30% at 50% 50%);
}
