:root {
    --main-color: rgba(19, 19, 19, 255);
    --accent-color: rgba(37, 37, 37, 255);
    --font-color: rgba(229, 227, 232, 255);
    --standard-buffer: 2%;
    --standard-font: 1.3rem;
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
}

html {
    background-color: var(--main-color);
}

h1 {
    text-align: center;
    max-width: 90%;
    margin-left: var(--standard-buffer);
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

input {
    outline: none;
    border: none;
}

aside {
    background-color: var(--accent-color);
    border-radius: 15px;
    width: 95%;
    margin-left: var(--standard-buffer);
    padding-bottom: var(--standard-buffer);
}
.list-item {
    display: flex;
    align-items: center;
    background-color: beige;
    border-radius: 15px;
    width: 90%;
    height: 30px;
    position: relative;
    left: 5%;
    font-size: var(--standard-font);
}
.list-text {
    background-color: beige;
    margin-left: 4%;
    margin-top: var(--standard-buffer);
    margin-bottom: var(--standard-buffer);
    width: 90%;
    font-size: var(--standard-font);
}

main {
    margin-top: 2rem;
    margin-left: var(--standard-buffer);
    background-color: var(--main-color);
    width: 95%;
}
.todo-item {
    display: flex;
    flex-direction: column;
    gap: 0.5%;
    position: relative;
    background-color: var(--accent-color);
    border-radius: 15px;
    padding-bottom: 1%;
}
.todo-top-row {
    display: flex;
    align-items: center;
    margin-top: 1%;
}
.todo-text {
    width: 85%;
    margin-left: 1%;
    background-color: var(--accent-color);
    color: var(--font-color);
    font-size: var(--standard-font);
}
.checkbox {
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 1%;
}
/* Over 92% support, so still a little iffy */
.checkbox:has(input:checked) {
    background-color: white;
}
input[type="date"] {
    color: var(--font-color);
    background-color: rgba(60, 60, 60, 1);
    font-size: var(--standard-font);
    width: 95%;
    margin: 1%;
    padding: 0.5%;
    border-radius: 15px;
}

input[type="checkbox"] {
    display: none;
}

@media (min-width: 768px) {
    aside {
        position: fixed;
        left: 0;
        top: 0;
        width: 24%;
        height: 100vh;
        margin-left: 0%;
    }

    main {
        position: fixed;
        left: 25%;
        height: 100vh;
        width: 70%;
        margin-left: 0%;
    }
    .todo-item {
        left: 5%;
        width: 85%;
    }

    h1 {
        position: relative;
        padding-left: 25%;
        margin-left: 0%;
    }
}
